<h2>Search</h2>

<%= form_tag search_path, { method: :get } do %>
  <div class="form-group">
    <%= label_tag(:url_matches, "How many URLs contain the word in Adwords:") %>
    <%= text_field_tag(:url_matches, nil, { class: "form-control" }) %>
  <div>

  <%- if params[:url_matches].present? %>
    <div class="form-group">
      Found:
      <span class="badge">
        <%= @url_matches_count%>
      </span>
    <div>
  <%- end %>

  <br>

  <div class="form-group">
    <%= label_tag(:url_eq, "How many times a specific URL shows up in SEO:") %>
    <%= text_field_tag(:url_eq, nil, { class: "form-control" }) %>
  <div>

  <%- if params[:url_eq].present? %>
    <div class="form-group">
      Found:
      <span class="badge">
        <%= @url_eq_count %>
      </span>
    <div>
  <%- end %>

  <br>

  <div class="form-group">
    <%= label_tag(:keyword_gteq_2, "How many keywords have URLs in SEO with 2+:") %>
    <%= text_field_tag(:keyword_gteq_2, nil, { class: "form-control" }) %>
  <div>


  <div class="form-group">
    <%= label_tag(:keyword_gteq_1, "or 1+")%>
    <%= text_field_tag(:keyword_gteq_1, nil, { class: "form-control" }) %>
  <div>

  <%- if @keyword_gteq_total_count.present? %>
    <div class="form-group">
      Found:
      <span class="badge">
        <%= @keyword_gteq_total_count %>
      </span>
    <div>
  <%- end %>

  <br>

  <%= submit_tag "Search", class: "btn btn-default" %>

<% end %>
