<h2>Import Keywords</h2>

<%= form_tag import_uploads_path, multipart: true do %>
  <div class="form-group">
    <label for="file">Select CSV file</label>
    <%= file_field_tag :file %>
    <p class="help-block">*containing maximum 1000 keywords</p>

    <%= submit_tag "Import", class: "btn btn-default" %>
  </div>
<% end %>
