<h1>Listing Reports</h1>

<table class='table table-striped'>
  <tr>
    <th>Id</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.id%></td>
    <td><%= report.created_at%></td>
    <td><%= link_to "Show", report, class: 'btn btn-primary'%></td>
  </tr>
<% end %>
</table>

<br>

<%= will_paginate @reports %>
