<h2><%= @report.to_s %></h2>

<h2><% @search_results.each do |search_result| %></h2>
  <table class='table table-striped'>
    <tr>
      <th><%= SearchResult.human_attribute_name(:id) %></th>
      <th><%= SearchResult.human_attribute_name(:keyword) %></th>
      <th><%= SearchResult.human_attribute_name(:top_adwords_count) %></th>
      <th><%= SearchResult.human_attribute_name(:bottom_adwords_count) %></th>
      <th><%= SearchResult.human_attribute_name(:total_adwords_count) %></th>
      <th><%= SearchResult.human_attribute_name(:non_adwords_results_count) %></th>
      <th><%= SearchResult.human_attribute_name(:total_links_count) %></th>
      <th><%= SearchResult.human_attribute_name(:total_of_search_results) %></th>
    </tr>

    <tr>
      <td><%= search_result.id %></td>
      <td><%= search_result.keyword %></td>
      <td><%= search_result.top_adwords_count %></td>
      <td><%= search_result.bottom_adwords_count %></td>
      <td><%= search_result.total_adwords_count %></td>
      <td><%= search_result.non_adwords_results_count %></td>
      <td><%= search_result.total_links_count %></td>
      <td><%= search_result.total_of_search_results %></td>
    </tr>
  </table>

  <h3>Top Adwords Urls</h2>

  <% search_result.top_adwords_urls.each do |record| %></li>
    <li><%= record.url %></li>
  <% end %>

  <h3>Bottom Adwords Urls</h2>

  <% search_result.bottom_adwords_urls.each do |record| %></li>
    <li><%= record.url %></li>
  <% end %>

  <h3>Non Adwords Urls</h2>

  <% search_result.non_adwords_urls.each do |record| %></li>
    <li><%= record.url %></li>
  <% end %>

  <h3>Right Adwords Urls</h2>

  <% search_result.right_adwords_urls.each do |record| %></li>
    <li><%= record.url %></li>
  <% end %>

<% end %>

<%= will_paginate @search_results %>
